@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

/* ------------- */
/* ------------- */
/* RESET  */
/* ------------- */
/* ------------- */


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg,
video,
canvas {
    display: block;
    max-width: 100%;
}

/* make form elements inherit some styles*/
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ------------- */
/* ------------- */
/*  Inital styles and custom properties  */
/* ------------- */
/* ------------- */

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}


/* Custom colors */

:root {

    /* Primary */
    --veryDarkMagenta: hsl(300, 43%, 22%);
    --softPink: hsl(333, 80%, 67%);

    /* Neutral */
    --darkGrayishMagenta: hsl(303,10%,53%);
    --lightGrayishMagenta: hsl(300, 24%, 96%);
    --white: hsl(0,0%,100%);

}

/* ------------- */
/* ------------- */
/*  MAIN  */
/* ------------- */
/* ------------- */

body {
    background-image: url(assets/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 5em 0 5em;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: 100% 100% ;
}

main {
    flex-basis: 50%;
    padding: 0 14em 0 0;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    color: var(--veryDarkMagenta);
}

.main_paragraph {
    padding: 1em 0 0 0;
    font-size: 1.3rem;
}


/* -----------Rating Container------------------ */

.rating-container {
    flex-basis: 50%;
    color: var(--veryDarkMagenta);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rating-section {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    background-color: var(--lightGrayishMagenta);
    color: var(--veryDarkMagenta);
    font-size: 1.1rem;
    padding: 0.8em 2em 0.8em 1em;
    margin: 0.5em 0;
    border-radius: 10px;
    text-align: center;
    line-break: normal;
    white-space: nowrap;

}

.rating-section:nth-child(1) {
    align-self: start   ;

}

.rating-section:nth-child(2) {
    align-self: center;
}
.rating-section:nth-child(3) {
    align-self: end;
}

.rating-stars {
    font-size: 1.5rem;
    position: relative;
    font-family: Times;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rating-stars:after {
    content: "★★★★★";
    position: absolute;
    color: orange;
    letter-spacing: 5px;
}

.rating-user {
    font-weight: 700;
    padding-left: 0.5em;
}

/* --------AVALIATIONS----- */




.avaliations-container {
    display: flex;
    justify-content: center;
    align-items: start;
    column-gap: 2em;
    color: var(--white);
}
.avaliation-section {
    flex-basis: 33.33%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em 0;
    background-color: var(--veryDarkMagenta);
    padding: 3em 2.1em;
    border-radius: 10px;
}
.avaliation-section:nth-child(1) {
    position: relative;
    bottom: 1.4em;
}
.avaliation-section:nth-child(3) {
    position: relative;
    top: 1.4em;
}

.icon-container {
    flex-basis: 15%;
    display: flex;
    justify-content: start;
    align-items: center;

}

.icon {
    border-radius: 50%;
}
.user-info {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 1em;

}

.user-name {
    font-weight: 700;
}
.user-status {
    color: var(--softPink);
}


/* ----------MEDIA QUERIES STYLES------------ */

@media screen and (min-width: 1800px) {
    main {
        flex-basis: 50%;
    }
    h1 {
        font-size: 5rem;
    }
    .main_paragraph {
        font-size: 1.8rem;
    }
    .rating-container {
        flex-basis: 50%;
    }

    .avaliations-container {
        max-width: 70%;
        font-size: 1.25rem;
    }



}

@media screen and (min-width: 750px) and (max-width: 1100px) {
    body {
       flex-direction: column;
       row-gap: 3em;
       margin-top: 2em;
    }

   main {
       padding: 0;
       text-align: center;
   }

   .rating-container {
       justify-content: center;
       align-items: center;
       position: relative;
       width: 100%;
       padding: 0 5em;

   }


    .avaliations-container {
        flex-direction: column;
        align-items: center;

    }
    .avaliation-section {
        max-width: 60%;
        padding: 3.5em 2.1em;

    }
}

@media screen and (max-width: 750px) {

  body {
       flex-direction: column;
       row-gap: 3em;
       margin-top: 2em;
       padding: 0 2em;
    }

   main {
       padding: 0;
       text-align: center;
   }
   h1 {
       font-size: 3.2rem;
   }

   .rating-container {
       width: 100%;
   }

   .rating-section {
       grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr;
       row-gap: 0.5em;

   }

   .rating-section:nth-child(1) {
       align-self: normal;
   }
   .rating-section:nth-child(2) {
       align-self: normal;
   }
   .rating-section:nth-child(3) {
       align-self: normal;
   }


   .rating-stars {
       font-size: 2rem;

   }
   .rating-user {
       font-size: 1.5rem;
   }

    .avaliations-container {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 3.5em;

    }
    .avaliation-section {
        padding: 3em 2.1em;
        font-size: 1.4rem;

    }
}

@media screen and (max-width: 415px) {
    body {
        padding: 1em 1em;
    }
    .rating-user {
        font-size: 1.2rem;
    }
    .avaliation-section {
        padding: 1.4em;
        font-size: 1.3rem;
    }

}

